<h1> Teams </h1>

<ul>  <% @teams.each do |team|%>


<div class="teamindex">
	<h2> <%= team.team_name %></h2>
	<ul>
		<% team.players.each do |player| %>
		<li><%= player.player_name %></li>
		<% end %>
	</ul>

	<p>Wins:<%= team.wins %></p>
	<p>Losses:<%= team.losses %></p>


	</div>

<% end %>

