/* * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// app/assets/stylesheets/application.css.sass;


@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: black;
	margin: 0;

}


h1{
	text-align: center;
}


#main-container{
	margin: 0;
}

/*.container{

	background-image: url("/assets/Dota2_background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;

}*/


#left-panel{

	height: 800px;
    margin: 0;
    width: 100%;

}

#right-panel{

	height: 800px;
    margin: 0;
    width: 100%;

}

#container{
	width: 100%
}

.playerShow{
	text-align: center;

}

.options{
	text-align: center;
}

.side-panel{
	padding: 0;
}
/*#right-panel{

	background-image: url("dragon-knight-panel.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 800px;
    margin: 0;
    width: 30%;

}*/

.navbar{
	position: absolute;
}

#content {
	border-style: solid;
	border-color: white;


}

.player-index{
	text-align: center;
	border-style: solid;
}